{% extends 'admin/login.html' %}
{% load i18n %}

{% block content %}
    
    <div id="content-main">
        <h1>GALACTICA IMANAGE</h1>
        <form action="{% url "signup" %}" method="post" id="login-form">{% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <div class="submit-row">
                    <input type="submit" class="loginButton" value="{% trans 'Create Account' %}"/>
            </div>
            {% if user_form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {% if profile_form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
        </form>
    </div>
{% endblock %}