{% extends 'admin/base_site.html'%}
{% block content %}
<head>
  <style>
    li a{
      display: block
    }
  </style>
</head>
<h1>Search Images</h1>
<form method="post" action="{% url 'objectresults' %}" enctype="multipart/form-data"> {% csrf_token %}
    <!-- <legend>Upload Duration</legend>
    START <br> <input type="datetime-local" name="lower_datetime_upload" ><br>
    TILL  <br> <input type="datetime-local" name="upper_datetime_upload" ><br><br> -->
    <legend>Capture Duration</legend>
    START <br> <input type="datetime-local" name="lower_datetime" ><br>
    TILL  <br> <input type="datetime-local" name="upper_datetime" ><br><br>
    <legend>Select Multiple Objects</legend>
    <!-- <div class="row-fluid">
    <select name="queryvalue" class="selectpicker" data-show-subtext="true" data-live-search="true" multiple size="10">
      {% for key, objects in objectslist %}
        <optgroup label="{{key}}">
          {% for obj in objects %}
            <option value="{{obj}}">{{obj}}</option>
          {% endfor %}
        </optgroup>
      {% endfor %}
    </select><br><br>
    </div> -->

    <!-- <a onclick="myFunction()">Try it</a>
    <div id="myDIV">
        This is my DIV element.
    </div> -->
    <ul>
    {% for key, objects in objectslist %}
        <li>
            <a onclick="myFunction('{{key}}')">{{key}}</a>
        </li>
          <select name="queryvalue" id="{{key}}" multiple size="4">
              {% for obj in objects %}
              <option value="{{obj}}">{{obj}}</option>
              {% endfor %}
          </select>        
      {% endfor %}
    </ul>
        
    <legend>Search Type</legend>
    <select name="searchtype" placeholder="select" >
      <option value="prev_upload">LAST UPLOADED</option>
      <option value="custom" >CUSTOM</option>
      <option value="COCO" >COCO</option>
    </select><br><br>
    <button type="submit" >Search Images</button>
</form>

<script>
    function myFunction(id) {
      var x = document.getElementById(id);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
    </script>
    
{% endblock %}

